<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="com.java.sawon.dao.SawonMapper">
  	<resultMap type="com.java.sawon.dto.DeptDto" id="deptDto">
  		<result column="DEPARTMENT_ID" property="DEPARTMENT_ID"/>
  		<result column="DEPARTMENT_NAME" property="DEPARTMENT_NAME"/>
  	</resultMap>
  	
  	<resultMap type="com.java.sawon.dto.EmpDto" id="empDto">
  		<result column="EMPLOYEE_ID" property="EMPLOYEE_ID"/>
  		<result column="FIRST_NAME" property="FIRST_NAME"/>
  		<result column="HIRE_DATE" property="HIRE_DATE"/>
  		<result column="JOB_ID" property="JOB_ID"/>
  		<result column="SALARY" property="SALARY"/>
  		<result column="DEPARTMENT_ID" property="DEPARTMENT_ID"/>
  		
  		<collection property="deptDto" resultMap="deptDto"/>
  	</resultMap>
  
  	<select id="deptList" resultType="com.java.sawon.dto.DeptDto">
  	SELECT DEPARTMENT_NAME FROM DEPARTMENTS
  	</select>
  	
  	<select id="sawonList" parameterType="String" resultMap="empDto">
  		<![CDATA[
  		SELECT e.EMPLOYEE_ID,
		        e.FIRST_NAME,
		        e.HIRE_DATE,
		        e.JOB_ID,
		        e.SALARY,
		        d.DEPARTMENT_ID,
		        d.DEPARTMENT_NAME
		FROM DEPARTMENTS d, EMPLOYEES e
		WHERE d.DEPARTMENT_ID = e.DEPARTMENT_ID
		AND d.DEPARTMENT_NAME = #{departmentName}
  		]]>
  	</select>
  </mapper>