@charset "UTF-8";

#form_style{
	width: 410px;
	margin: 10px auto;
}

#form_style .title{
	width: 400px;
	height: 40px;
	
	text-align: center;
	line-height: 40px;
}

#form_style .content{
	width: 400px;
	height: 100px;	
}


.disp{
	border: solid 1px black;
	width: 400px;
	height: 25px;	
	line-height: 25px;
	text-align: left;
}

.disp > a{
	float:right;
	margin-right: 10px;
}

.disp-content{
	border: solid 1px black;
	width: 400px;
	height: 100px;	
	text-align: left;
	border-top-width: 0px;
}

a {
	text-decoration:none;
}